<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="checkbox" v-model="ok"/>
        <br/>
        <!-- 当ok的值为true时，显示选中了，同时checkbox的值也为选中状态 -->
        <div v-if="ok">选中了</div>
        <!-- 当ok的值为false是，显示没有选中，同时checkbox的值为未选中状态 -->
        <div v-else>没有选中</div>
    </div>
    <script src="vue.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                ok:false
            }
        })
    </script>
</body>

</html>